<div class="d-flex flex-row justify-content-between mt-2">
    <h2>Panics</h2>
    <a class="btn btn-primary" routerLink="/panics/send">
        Send Panic
    </a>
</div>

<div class="loader" *ngIf="isLoading">Loading...</div>

<table class="table table-striped" *ngIf="!isLoading">
    <thead>
    <tr>
        <th scope="col">Created By</th>
        <th scope="col">Created At</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Panic Type</th>
        <th scope="col">Details</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let panic of panics">
        <td>{{ panic.created_by.name }}</td>
        <td>{{ panic.created_at }}</td>
        <td>{{ panic.latitude }}</td>
        <td>{{ panic.longitude }}</td>
        <td>{{ panic.panic_type }}</td>
        <td>{{ panic.details }}</td>
        <td>
            <button class="btn btn-danger bt-sm" (click)="cancelPanic(panic.id)">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>