<div class="d-flex flex-row justify-content-between mt-2">
    <h2>Panics</h2>
    <button class="btn btn-primary">
        Send Panic
    </button>
</div>

<div class="loader">Loading...</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Created By</th>
        <th scope="col">Created At</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Panic Type</th>
        <th scope="col">Details</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
    </tr>
    </tbody>
</table>